<div class='text-center'>
  <p class='text-amber-dark'>会員登録が完了しました</p>

  <div class='flex flex-col justify-center mt-12'>
    <%= link_to '#' do %>
      <button class='py-2 px-5 bg-amber-vivid text-white rounded-full'>
        ログイン
      </button>
      <%= link_to 'トップへ戻る', root_path, class: 'text-blue-500 underline mt-5' %>
    <% end %>
  </div>
</div>