<h1 class='text-3xl text-amber-dark text-center'>プライバシーポリシー</h1>

<div class='mt-5 mb-5 w-2/3 text-amber-dark border border-amber-vivid bg-white rounded-lg m-auto p-10'>
    <p class='mb-3'>本規約は、Tomomi Hashimoto（以下「当社」といいます。）は、当社がコケーボ（以下「本サービス」といいます。）を提供するにあたり、ご利用される皆様（以下「利用者」といいます。）の個人に関する情報（以下「個人情報」といいます。）を取得します。</p>

    <p class='mb-3'>第１条（適用範囲）</p>

    <p class='mt-3'>本プライバシーポリシー（以下「本ポリシー」といいます。）は、当社が利用者から個人情報を取得、利用及び管理するときに適用されます。</p>

    <p class='mt-3'>第２条（取得する情報）</p>

    <p class='mt-3'>当社は、利用者から以下の情報を取得します。</p>

    <p>（1）氏名 </p>
    <p>（2）生年月日 </p>
    <p>（3）年齢 </p>
    <p>（4）連絡先 </p>

    <p class='mt-3'>第３条（利用目的）</p>

    <p class='mt-3'>当社が個人情報を収集・利用する目的は、以下のとおりです。</p>

    <p>（1）本サービスの提供・運営のため </p>

    <p>（2）本サービスの運営上必要な事項の通知のため </p>

    <p>（3）本サービスの会員である利用者の管理のため </p>

    <p>（4）本サービスに関する新機能、更新情報をお知らせするため </p>

    <p>（5）メールマガジンの送信、ダイレクトメールの送付のため </p>

    <p>（6）本サービスの各種問合せ、アフターサービス対応のため </p>

    <p>（7）不正アクセス、不正利用の防止のため </p>

    <p>（8）本サービスその他のコンテンツの開発・改善のため </p>

    <p>（9）当社が実施するサービス又は企画に関する連絡のため </p>

    <p>（10）上記の利用目的に付随する目的</p>

    <p class='mt-3'>第４条（安全確保の措置）

    <p class='mt-3'>当社は、収集した情報の漏えい、滅失又はき損の防止その他収集した情報の適切な管理のために必要な措置を講じます。当社が、安全管理のために講じた措置の概要は以下のとおりです。措置の具体的内容については、本ポリシーで定める窓口に対する利用者からの求めに応じて遅滞なく回答いたします。</p>

    <p>（1）基本方針の策定、個人情報の取扱いに係る規律の整備 </p>

    <p>（2）個人情報を取り扱うことのできる機器やアクセス権者を明確にし、個人情報への不要なアクセスを防止 </p>

    <p>（3）メール等により取扱う際に、パスワードを設定 </p>

    <p class='mt-3'>第５条（個人情報の第三者への提供）

    <p class='mt-3'>１ 当社は、次に掲げる場合を除いて、あらかじめ利用者の同意を得ないで、取得した個人情報を第三者に提供することはありません。</p>

    <p>（１）法令に基づく場合</p>

    <p>（２）人の生命、身体又は財産の保護のために必要がある場合であって、利用者の同意を得ることが困難であるとき</p>

    <p>（３）公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、利用者の同意を得ることが困難であるとき</p>

    <p>（４）国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、利用者の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき</p>

    <p>（５）その他法令で第三者提供の制限の例外が認められている場合</p>

    <p class='mt-3'>２ 前項の定めにかかわらず、次に掲げる場合には、当該個人情報の提供先は第三者に該当しないものとします。</p>

    <p>（１）当社が利用目的の達成に必要な範囲内において個人情報の取扱いの全部又は一部を委託することに伴って当該個人情報が提供される場合</p>

    <p>（２）合併その他の事由による事業の承継に伴って個人情報が提供される場合</p>

    <p class='mt-3'>（３）第7条に定める共同利用者に対して提供される場合</p>

    <p class='mt-3'>第６条（本プライバシーポリシーの変更）</p>

    <p class='mt-3'>当社は、法令改正への対応の必要性及び事業上の必要性に応じて、本ポリシーを変更する場合があります。本ポリシーの変更を行った場合には、本ウェブサイト上に掲載します。</p>

    <p class='mt-3'>第７条（開示、訂正等の手続）</p>

    <p class='mt-3'>１ 利用者は、本条及び当社の関連規程に従って、当社に対し、個人情報保護法において認められる限度で、以下の求め又は請求を行うことができます。</p>

    <p>（１）個人情報の利用目的の通知の求め</p>

    <p>（２）個人情報又は第三者提供記録の開示の請求</p>

    <p>（３）個人情報の訂正、追加又は削除の請求</p>

    <p>（４）個人情報の利用の停止の請求</p>

    <p>（５）個人情報の第三者への提供の停止の請求</p>

    <p class='mt-3'>２ 前項の求め又は請求にあたっては、同項各号のうちいずれの請求か特定の上、本人確認のための書類（運転免許証、健康保険証、住民票の写し等）をご提出頂きます。</p>

    <p class='mt-3'>第８条（お問い合わせ）</p>

    <p class='mt-3'>当社の個人情報の取扱いに関するご相談や苦情等のお問い合わせについては、本サイトのお問い合わせ窓口よりご連絡ください。</p>

    <p class='mt-3'>個人情報取扱責任者：Tomomi Hashimoto
</div>