<div class='text-center mb-12'>
  <p class='mb-3'>教育費シュミレーションの結果が登録されていません</p>
  <%= link_to '教育費シュミレーション', new_simulation_path, class: 'px-3 py-2 bg-amber-vivid rounded-md shadow text-white' %>
</div>

<% if current_user.children[0].save_schedules.present? %>
  <div class='w-1/2 rounded-lg border border-amber-vivid text-amber-dark bg-yellow-300 p-4 m-auto'>
    <div class='text-center'>
      <p class=''>期間：0〜１８才</p>
      <p class=''>月々５０,０００円</p>
    </div>
  </div>
<% else %>
  <%= render 'save_schedule', form: @form %>
<% end %>
