<% if object.errors.any? %>
  <div class='text-red-500'>
    <ul class='mb-0'>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>