<footer class='absolute bottom-0 w-full'>
  <div class='w-4/5 m-auto'>
    <div class='flex justify-around'>
      <a href='/privacypolicy'>
         <p class='text-sm text-blue-500'>プライバシーポリシー</p>
      </a>
      <a href='/termandcondition'>
        <p class='text-sm text-blue-500'>利用規約</p>
      </a>
      <p class='text-sm text-blue-500'>お問い合わせ</p>
    </div>
    <div class='text-center my-3'>
      <p class='text-sm text-amber-dark'>＠ Tomomi Hashimoto All Rights reserved.</p>
    </div>
  </div>
</footer>