<header class='fixed top-0 left-0 w-full bg-transparent z-50'>
  <div class="flex justify-between items-center px-4 py-2">
    <a href='/'>
      <div class='flex flex-row items-center' data-testid='logo'>
        <%= image_tag('logo.png', alt: 'logo_image', class: 'w-10 h-10') %>
        <span class='text-lg text-amber-dark'>コケーボ</span>
      </div>
    </a>
    <button class='py-3 px-2 bg-green-200 text-amber-dark rounded-full'>
      ログイン
    </button>
  </div>
</header>