<div class='bg-submenu px-10 py-5 h-full'>
  <ul>
    <li class='mb-3'>MyPage</li>
    <li class='mb-3'>入金設定</li>
    <li class='mb-3'>カレンダーと履歴</li>
    <li class='mb-3'>お子様情報追加</li>
    <li class='mb-3'>パートナー追加</li>
    <li class='mb-3'>会員情報変更</li>
    <li class='mb-3'>退会手続き</li>
  </ul>
</div>