<h1 class='text-3xl text-amber-dark text-center'>入金設定登録</h1>

<%= form_with model: @plan_collection, local: true do |form| %>
  <table>
    <thead>
      <th>項目</th>
      <th>金額</th>
      <th>入金予定日</th>
    </thead>
  </table>
<% end %>